<p id="notice"><%= notice %></p>

<p>
  <b>Occasion:</b>
  <%= @sighting.occasion %>
</p>

<p>
  <b>Description:</b>
  <%= @sighting.description %>
</p>

<p>
  <b>Photo:</b>
  <%= @sighting.photo %>
</p>

<p>
  <b>Lat:</b>
  <%= @sighting.latitude %>
</p>

<p>
  <b>Long:</b>
  <%= @sighting.longitude %>
</p>

<p>
  <b>User:</b>
  <%= @sighting.user.email %>
</p>

<p>
  <b>Species:</b>
  <%= @sighting.species.vernacular %>
</p>


<%= link_to 'Edit', edit_sighting_path(@sighting) %> |
<%= link_to 'Back', sightings_path %>
