<p id="notice"><%= notice %></p>

<p>
  <b>Latin:</b>
  <%= @species.latin %>
</p>

<p>
  <b>Vernacular:</b>
  <%= @species.vernacular %>
</p>


<%= link_to 'Edit', edit_species_path(@species) %> |
<%= link_to 'Back', species_index_path %>
