<!DOCTYPE html>
<html>
<head>
  <title>Wildlifecensus</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
  <%= yield :head %>
</head>
<body>

<div id="topbar">
  <div id="loginitems">
	<% if current_user %>
	  Logged in as <%= current_user.email %>. <%= link_to "Log out", logout_path %>
	<% else %>
	  <%= link_to "Register", register_path %> or <%= link_to "log in", login_path %>
	<% end %>
  </div>
</div>

<div id="contents">
  <% flash.each do |name, msg| %>
    <%= content_tag :div, msg, :id => "flash_#{name}" %>
  <% end %>

  <%= yield %>
</div>

</body>
</html>
